h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  padding: 10px;
}
.about {
  display: flex;
  gap: 30px;
}
.top {
  display: flex;
}

p,
ul {
  font-size: 20px;
}

ul {
  margin-left: 20px;
}
.img1 img {
  width: 500px;
}
